In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('sample_data_v4.csv')
pd.set_option('display.max_rows', 5000)
df.head(1)

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,NaN

In [3]:
df.isna().sum()

Application ID                   0
Current City                     0
Other skills                    38
Institute                       13
Degree                          85
Stream                          97
Current Year Of Graduation       0
Performance_PG                1817
Performance_UG                 334
Performance_12                 780
Performance_10                 880
dtype: int64

In [4]:
#Remove space from the coulmn
df.columns =df.columns.str.replace(' ','_')
#df.head(1)

In [5]:
features_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes=='O']

for feature in features_nan:
    print("{}: {}% missing values".format(feature,np.round(df[feature].isnull().mean(),4)))

Other_skills: 0.0175% missing values
Institute: 0.006% missing values
Degree: 0.0392% missing values
Stream: 0.0447% missing values
Performance_PG: 0.8381% missing values
Performance_UG: 0.1541% missing values
Performance_12: 0.3598% missing values
Performance_10: 0.4059% missing values

In [6]:
pg=df['Performance_10'].str.split("/" ,expand=True)
df['Performance_10']=pg[0]

pg=df['Performance_12'].str.split("/" ,expand=True)
df['Performance_12']=pg[0]

pg=df['Performance_UG'].str.split("/" ,expand=True)
df['Performance_UG']=pg[0]

pg=df['Performance_PG'].str.split("/" ,expand=True)
df['Performance_PG']=pg[0]

df['Performance_10'] = df['Performance_10'].astype(float)
df['Performance_12'] = df['Performance_12'].astype(float)

df['Performance_10'].fillna((df['Performance_10'].mean()), inplace=True)
df['Performance_12'].fillna((df['Performance_12'].mean()), inplace=True)
df['Performance_UG'].fillna(0, inplace=True)
df['Performance_PG'].fillna(0, inplace=True)

In [7]:
#df["Current_City"].value_counts()

In [8]:
#We have some miss entries in city names
#So we convert Mangaluru to Mangalore, Banglore to Bangalore, Vasai-Virar to Virar
df.Current_City.replace(['Mangaluru'],['Mangalore'] , inplace=True)
df.Current_City.replace(['Banglore'],['Bangalore'] , inplace=True)
df.Current_City.replace(['Vasai-Virar'],['Virar'] , inplace=True)

## As Internship is WFH I am assuming city will not be a barrior

In [9]:
df.Current_Year_Of_Graduation.unique()

array([2018, 2020, 2022, 2021,    0, 2017, 2023, 2019, 2006, 2013, 2014,
       2024, 2016, 2007, 2015, 2011, 2010, 2012, 2005, 2009, 2004, 2008],
      dtype=int64)

In [10]:
#Experience (yrs after graduation)
df['exp'] = df.Current_Year_Of_Graduation.apply (lambda x: x if x < 1 else 2020 - x)
df['exp'] = df.exp.apply (lambda x: x if x > 0 else 0)

## Pivot_Table

In [11]:
pd.pivot_table(df, index = 'Current_City', values = 'exp').sort_values('exp', ascending = False)

                         exp
Current_City
Zurich              8.000000
Indi                5.000000
Nashik              4.000000
Akola               4.000000
Kannur              3.666667
Allahabad           3.000000
Gulbarga            3.000000
Rajapalayam         3.000000
Bathinda            2.500000
Thrissur            2.083333
Karjat              2.000000
Rosenheim           2.000000
Bangalore           1.787834
Hyderabad           1.711409
Vasco Da Gama       1.500000
Kurnool             1.500000
Noida               1.358974
Pimpri-Chinchwad    1.333333
Pune                1.324324
Navi Mumbai         1.166667
Kochi               1.000000
Ado Ekiti           1.000000
Mahé                1.000000
Bidrahalli          1.000000
Palghar             1.000000
Pathanamthitta      1.000000
Surat               1.000000
Gangtok             1.000000
Bilaspur            1.000000
Kozhikode           1.000000
Visakhapatnam       0.941176
Ghaziabad           0.875000
Gurgaon             0.857143
Tirupati            0.800000
Nagpur              0.764706
Agartala            0.750000
Mumbai              0.739583
Kolkata             0.714286
Kolhapur            0.666667
Ernakulam           0.666667
Bhopal              0.666667
Bokaro Steel City   0.666667
Greater Noida       0.555556
Belgaum             0.500000
Rourkela            0.500000
Dhanbad             0.400000
Chennai             0.389610
Delhi               0.355191
Lucknow             0.352941
Durgapur            0.333333
Nellore             0.333333
Ahmedabad           0.294118
Coimbatore          0.272727
Indore              0.259259
Dharwad             0.250000
Faridabad           0.250000
Vijayawada          0.222222
Kanpur              0.214286
Mysuru              0.200000
Gurugram            0.181818
Vellore             0.181818
New Delhi           0.153846
Jaipur              0.107143
Kharagpur           0.083333
Chandigarh          0.076923
Bhubaneswar         0.074074
Ranchi              0.000000
Rajkot              0.000000
Roorkee             0.000000
Ajmer               0.000000
Raigarh             0.000000
Ahmednagar          0.000000
Rudrapur            0.000000
Salem               0.000000
Raebareli           0.000000
Alappuzha           0.000000
Pantnagar           0.000000
Prayagraj           0.000000
Pandua              0.000000
Nizamabad           0.000000
Annur Mettupalayam  0.000000
Ooty                0.000000
Pala                0.000000
Ambasamudram        0.000000
Palwal              0.000000
Panaji              0.000000
Panipat             0.000000
Aligarh             0.000000
Sancoale            0.000000
Alwar               0.000000
Patiala             0.000000
Patna               0.000000
Phagwara            0.000000
Pilani              0.000000
Pilkhuwa            0.000000
Sambalpur           0.000000
Solan               0.000000
Sangareddy          0.000000
Thiruvananthapuram  0.000000
Tiruchirappalli     0.000000
Tiruppur            0.000000
Trichey             0.000000
Udaipur             0.000000
Ujire               0.000000
Uppinangady         0.000000
Vadodara            0.000000
Valsad              0.000000
Varanasi            0.000000
Virar               0.000000
Vizianagaram        0.000000
Walajapet           0.000000
Warangal            0.000000
Wardha              0.000000
Yamuna Nagar        0.000000
Yavatmal            0.000000
Yogyakarta City     0.000000
Agra                0.000000
Thanjavur           0.000000
Sathyamangalam      0.000000
Thane               0.000000
Satna               0.000000
Secunderabad        0.000000
Shamli              0.000000
Shillong            0.000000
Shirpur             0.000000
Shirpur-Warwade     0.000000
Sikar               0.000000
Siliguri            0.000000
Asansol             0.000000
Sonipat             0.000000
Srikakulam          0.000000
Srinagar            0.000000
Sullurupeta         0.000000
Sultanpur           0.000000
Tadepalligudem      0.000000
Tadipatri           0.000000
Tezpur              0.000000
Arambagh            0.000000
Mohali              0.000000
Narsapur            0.000000
Jamshedpur          0.000000
Guwahati            0.000000
Gwalior             0.000000
Haldia              0.000000
Haldwani            0.000000
Hamirpur            0.000000
Hanamkonda          0.000000
Haryana             0.000000
Hoboken             0.000000
Howrah              0.000000
Hubballi            0.000000
Bharatpur           0.000000
Ichalkaranji        0.000000
Idupulapaya         0.000000
Jabalpur            0.000000
Jagtial             0.000000
Jalandhar           0.000000
Jalgaon             0.000000
Guntur              0.000000
Guna                0.000000
Bhavnagar           0.000000
Dibrugarh           0.000000
Bhiwadi             0.000000
Bhimtal             0.000000
Bloomington         0.000000
Boisar              0.000000
Brahmapur           0.000000
Chittoor            0.000000
Dehradun            0.000000
Durg                0.000000
Gorakhpur           0.000000
Eluru               0.000000
Gandhinagar         0.000000
Bhilai              0.000000
Gaya                0.000000
Goa Velha           0.000000
Godhra              0.000000
Gonda               0.000000
Jammu               0.000000
Jersey City         0.000000
Nanded-Waghala      0.000000
Jhalawar            0.000000
Lohardaga           0.000000
Ludhiana            0.000000
Aurangabad          0.000000
Malappuram          0.000000
Malvern             0.000000
Mandya              0.000000
Mangalore           0.000000
Manipal             0.000000
Mathura             0.000000
Meerut              0.000000
Moradabad           0.000000
Morusumalli         0.000000
Muzaffarpur         0.000000
Nadia               0.000000
Nadiad              0.000000
Namakkal            0.000000
Nanded              0.000000
Lagos               0.000000
Kurukshetra         0.000000
Azamgarh            0.000000
Karur               0.000000
Jhansi              0.000000
Kadapa              0.000000
Kalyani             0.000000
Barhampur           0.000000
Kanpur Dehat        0.000000
Kanpur Nagar        0.000000
Banswara            0.000000
Kashipur            0.000000
Balasore            0.000000
Katra               0.000000
Khammam             0.000000
Bambolim            0.000000
Kolaghat            0.000000
Kollam              0.000000
Kota                0.000000
Kottayam            0.000000
Aachen              0.000000

In [12]:
df['Other_skills'].dtypes

dtype('O')

In [13]:
df['Other_skills'] = df['Other_skills'].astype(str)

In [14]:
df['Other_skills'] = df['Other_skills'].str.lower()

In [15]:
df['python_yn'] = df['Other_skills'].apply(lambda x: 1 if 'python' in x else 0)
print(df.python_yn.value_counts())

1    1860
0     308
Name: python_yn, dtype: int64

In [16]:
df['data_science_yn'] = df['Other_skills'].apply(lambda x: 1 if 'data science' in x else 0)
df.data_science_yn.value_counts()

0    1825
1     343
Name: data_science_yn, dtype: int64

In [17]:
df['TensorFlow_yn'] = df['Other_skills'].apply(lambda x: 1 if 'tensor' in x else 0)
df.TensorFlow_yn.value_counts()

0    2168
Name: TensorFlow_yn, dtype: int64

In [18]:
df['PyTorch_yn'] = df['Other_skills'].apply(lambda x: 1 if 'torch' in x else 0)
df.PyTorch_yn.value_counts()

0    2168
Name: PyTorch_yn, dtype: int64

In [19]:
df['PyPI_yn'] = df['Other_skills'].apply(lambda x: 1 if 'pip' in x else 0)
df.PyPI_yn.value_counts()

0    2168
Name: PyPI_yn, dtype: int64

In [20]:
df['sklearn_yn'] = df['Other_skills'].apply(lambda x: 1 if 'sk' in x else 0)
df.sklearn_yn.value_counts()

0    2073
1      95
Name: sklearn_yn, dtype: int64

In [21]:
df['Statistical_yn'] = df['Other_skills'].apply(lambda x: 1 if 'model' in x else 0)
df.Statistical_yn.value_counts()

0    1927
1     241
Name: Statistical_yn, dtype: int64

In [22]:
df['ML_yn'] = df['Other_skills'].apply(lambda x: 1 if 'ml' in x else 0)
df.ML_yn.value_counts()

0    1466
1     702
Name: ML_yn, dtype: int64

In [23]:
df['ml_yn'] = df['Other_skills'].apply(lambda x: 1 if 'machine learning' in x else 0)
df.ml_yn.value_counts()

1    1449
0     719
Name: ml_yn, dtype: int64

In [24]:
df['Deep_yn'] = df['Other_skills'].apply(lambda x: 1 if 'deep' in x else 0)
df.Deep_yn.value_counts()

0    1534
1     634
Name: Deep_yn, dtype: int64

In [25]:
df['SQL_yn'] = df['Other_skills'].apply(lambda x: 1 if 'sql' in x else 0)
df.SQL_yn.value_counts()

0    1166
1    1002
Name: SQL_yn, dtype: int64

In [26]:
df['Flask_yn'] = df['Other_skills'].apply(lambda x: 1 if 'flask' in x else 0)
df.Flask_yn.value_counts()

0    2098
1      70
Name: Flask_yn, dtype: int64

In [27]:
df['AWS_yn'] = df['Other_skills'].apply(lambda x: 1 if 'aws' in x else 0)
df.AWS_yn.value_counts()

0    2110
1      58
Name: AWS_yn, dtype: int64

In [28]:
df['GCP_yn'] = df['Other_skills'].apply(lambda x: 1 if 'gcp' in x else 0)
df.GCP_yn.value_counts()

0    2168
Name: GCP_yn, dtype: int64

In [29]:
df['HTML_yn'] = df['Other_skills'].apply(lambda x: 1 if 'html' in x else 0)
df.HTML_yn.value_counts()

0    1470
1     698
Name: HTML_yn, dtype: int64

In [30]:
df['CSS_yn'] = df['Other_skills'].apply(lambda x: 1 if 'css' in x else 0)
df.CSS_yn.value_counts()

0    1650
1     518
Name: CSS_yn, dtype: int64

In [31]:
df['Bootstrap_yn'] = df['Other_skills'].apply(lambda x: 1 if 'boot' in x else 0)
df.Bootstrap_yn.value_counts()

0    2010
1     158
Name: Bootstrap_yn, dtype: int64

In [32]:
df['AJAX_yn'] = df['Other_skills'].apply(lambda x: 1 if 'ajax' in x else 0)
df.AJAX_yn.value_counts()

0    2143
1      25
Name: AJAX_yn, dtype: int64

In [33]:
df['PHP_yn'] = df['Other_skills'].apply(lambda x: 1 if 'php' in x else 0)
df.PHP_yn.value_counts()

0    1940
1     228
Name: PHP_yn, dtype: int64

In [34]:
df['API_yn'] = df['Other_skills'].apply(lambda x: 1 if 'api' in x else 0)
df.API_yn.value_counts()

0    2132
1      36
Name: API_yn, dtype: int64

In [35]:
df['Git_yn'] = df['Other_skills'].apply(lambda x: 1 if 'git' in x else 0)
df.Git_yn.value_counts()

0    2005
1     163
Name: Git_yn, dtype: int64

In [36]:
df['JSON_yn'] = df['Other_skills'].apply(lambda x: 1 if 'json' in x else 0)
df.JSON_yn.value_counts()

0    2148
1      20
Name: JSON_yn, dtype: int64

In [37]:
df['Mongo_yn'] = df['Other_skills'].apply(lambda x: 1 if 'mongo' in x else 0)
df.Mongo_yn.value_counts()

0    2023
1     145
Name: Mongo_yn, dtype: int64

In [38]:
df['Express_yn'] = df['Other_skills'].apply(lambda x: 1 if 'express' in x else 0)
df.Express_yn.value_counts()

0    2145
1      23
Name: Express_yn, dtype: int64

In [39]:
df['JS_yn'] = df['Other_skills'].apply(lambda x: 1 if 'js' in x else 0)
df.JS_yn.value_counts()

0    1961
1     207
Name: JS_yn, dtype: int64

In [40]:
df['React_yn'] = df['Other_skills'].apply(lambda x: 1 if 'react' in x else 0)
df.React_yn.value_counts()

0    2067
1     101
Name: React_yn, dtype: int64

In [41]:
df['ES6_yn'] = df['Other_skills'].apply(lambda x: 1 if 'es' in x else 0)
df.ES6_yn.value_counts()

0    1217
1     951
Name: ES6_yn, dtype: int64

In [42]:
df['Linux_yn'] = df['Other_skills'].apply(lambda x: 1 if 'linux' in x else 0)
df.Linux_yn.value_counts()

0    2040
1     128
Name: Linux_yn, dtype: int64

In [43]:
skill = {1:1,0:0}
essen = {1:2,0:-1}
totalscore = []
mlskillscore = []
for exp,py,ds,tf,sk,st,deep,ml,ML,sql,fl,aws,ln in zip(df['exp'],df['python_yn'],df['data_science_yn'],df['TensorFlow_yn'],df['sklearn_yn'],df['Statistical_yn'],df['Deep_yn'] ,df['ml_yn'],df['ML_yn'],df['SQL_yn'], df['Flask_yn'],df['AWS_yn'], df['Linux_yn']):
    skillsown = 0
    score = 0
    skillsown += essen.get(py,0)
    skillsown += skill.get(ds,0)
    skillsown += skill.get(tf,0)
    skillsown += skill.get(sk,0)
    skillsown += skill.get(st,0)
    skillsown += skill.get(deep,0)
    skillsown += skill.get(ml,0)
    skillsown += essen.get(ML,0)
    skillsown += essen.get(sql,0)
    skillsown += skill.get(fl,0)
    skillsown += skill.get(aws,0)
    skillsown += essen.get(ln,0)
    skillsown += exp*2
    #score = skillscore + (exp*3)
    totalscore.append(score)
    mlskillscore.append(skillsown)
#df['skillsown']=[i*3 for i in mlskillscore ]
df['MLApproval'] = ['Yes' if i >= 20 else 'No' for i in mlskillscore]

In [44]:
df['MLApproval'].value_counts()

No     2132
Yes      36
Name: MLApproval, dtype: int64

In [45]:
df['totalscore'] = mlskillscore

In [46]:
df_s = df[['exp','totalscore','MLApproval']]
df_s.head(1)

   exp  totalscore MLApproval
0    2           4         No

In [47]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import resample

In [48]:
df_dummy = pd.get_dummies(df_s, columns=df_s.columns[:-1])
#df_dummy

In [49]:
df_majority = df_dummy[df_dummy.MLApproval=='No']
df_minority = df_dummy[df_dummy.MLApproval=='Yes']
testdummy = df_dummy.iloc[-2:]
df_minority_upsampled = resample(df_minority, replace=True,     # sample with replacement
                                 n_samples=2103,    # to match majority class
                                 random_state=101) # reproducible results
df_balance = pd.concat([df_majority, df_minority_upsampled])

In [50]:
df_balance.MLApproval.value_counts()

No     2132
Yes    2103
Name: MLApproval, dtype: int64

In [51]:
df_balance.head()

,MLApproval,exp_0,exp_1,exp_2,exp_3,exp_4,exp_5,exp_6,exp_7,exp_8,...,totalscore_22,totalscore_23,totalscore_25,totalscore_26,totalscore_27,totalscore_28,totalscore_29,totalscore_30,totalscore_31,totalscore_32
0,No,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,No,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,No,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,No,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,No,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
X = df_balance[df_balance.columns[1:]]
y = df_balance['MLApproval']

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=101)

In [54]:
MLApprove_Tree_final = RandomForestClassifier(criterion='entropy',max_depth=10,min_samples_leaf=1,random_state=4,n_estimators=50 )#,splitter='random')
MLApprove_Tree_final.fit(X_train ,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=4, verbose=0,
                       warm_start=False)

In [55]:
y_pred = MLApprove_Tree_final.predict(X_test)
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report  
results = confusion_matrix(y_test, y_pred) 
print ('Confusion Matrix :')
print(results) 
print ('Accuracy Score :',accuracy_score(y_test, y_pred) )
print ('Report : ')
print (classification_report(y_test, y_pred))

Confusion Matrix :
[[618  12]
 [  0 641]]
Accuracy Score : 0.990558615263572
Report :
              precision    recall  f1-score   support

          No       1.00      0.98      0.99       630
         Yes       0.98      1.00      0.99       641

    accuracy                           0.99      1271
   macro avg       0.99      0.99      0.99      1271
weighted avg       0.99      0.99      0.99      1271

In [56]:
MLApprove_Tree_final.predict(testdummy[testdummy.columns[1:]])[-1],MLApprove_Tree_final.predict_proba(testdummy[testdummy.columns[1:]])[-1]

('No', array([0.97148964, 0.02851036]))